.experiencia {

    &__title {
        color: black;
        font-size: 4rem;
        text-align: center;
    }


    &__paragraph{
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 12rem;
    }

    & .card {
        width: 80%;
        border: none;
        margin-top: -10rem;

        &__img {
            aspect-ratio: 16/10;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
        }

        &__title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        &__job-position {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }

        &__date {
            font-size: 1.5rem;
        }

        &__description {
            font-size: 1.8rem;
        }

        &__button {
            display: block;
            font-size: 1.5rem;
            margin-inline: 4rem;
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            padding-block: 1rem;
        }

        &--desfased {
            margin-top: 10rem;
            &:last-child{
                margin-bottom: 3rem;
            }
        }
    }

        @media (max-width: 550px) {
            &__paragraph{
                margin-bottom: 1rem;
            }

            & .card {
                margin-top: 0;

                &--desfased {
                    margin-top: 0;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
}