.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-block: 1rem;
    margin-bottom: 0;

    & .container {
        margin-bottom: 0;
    }

    :is(&__info, &__proyects, &__contact, &__pages) ul, li, a {
        list-style: none;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: #fff;
        text-decoration: none;
    }

    :is(&__info, &__proyects, &__contact, &__pages) a:hover{
        color: red;
    }

    &__title {
        font-weight: bolder;
        font-size: 1.8rem;
    }
}