@mixin grow-animation($time, $color, $scale) {
  transition: $time, color $color;
  -webkit-transition: $time, color $color;
  -moz-transition: $time, color $color;

  &:hover {
    transform: scale3d($scale, $scale, 0.3);
    -webkit-transform: scale3d($scale, $scale, 0.3);
    -moz-transform: scale3d($scale, $scale, 0.3);
  }
}

@mixin shake-animation($time) {
  & {
    animation-name: shakefix;
    -webkit-animation-name: shakefix;
    -moz-animation-name: shakefix;
    animation-duration: $time;
    -webkit-animation-duration: $time;
    -moz-animation-duration: $time;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
  }

  @keyframes shakefix {
    0% {
      transform: translate(1px, 1px);
    }
    10% {
      transform: translate(-1px, -2px);
    }
    20% {
      transform: translate(-3px, 0px);
    }
    30% {
      transform: translate(3px, 2px);
    }
    40% {
      transform: translate(1px, -1px);
    }
    50% {
      transform: translate(-1px, 2px);
    }
    60% {
      transform: translate(-3px, 1px);
    }
    70% {
      transform: translate(3px, 1px);
    }
    80% {
      transform: translate(-1px, -1px);
    }
    90% {
      transform: translate(1px, 2px);
    }
    100% {
      transform: translate(1px, -2px);
    }
  }
}
