.proyectos {

    &__title {
        color: black;
        font-size: 4rem;
        text-align: center;
    }


    &__paragraph{
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    & .card {
        width: 100%;

        &__img {
            aspect-ratio: 16/9;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__title {
            font-size: 2.5rem;
            text-align: center;
        }

        &__date {
            font-size: 1.5rem;
        }

        &__description {
            font-size: 1.8rem;
        }

        &__button {
            display: block;
            font-size: 1.5rem;
            margin-inline: 4rem;
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            padding-block: 1rem;
        }
    }
}